:root {
    --background-color1: white;
    --background-color2: rgb(244, 248, 250);
    --background-color3: rgb(251, 252, 253);
    --border-color1: rgb(166, 195, 210);
    --border-color2: rgb(236, 243, 247);
    --box-shadow-color1: rgb(225, 233, 238);
    --font-color1: rgb(6, 158, 234);
}
html {
    padding: 40px;
}
body {
    display: flex;
    height: 80%;
    width: 80%;
    margin: auto;
    border: 0.8px solid var(--border-color1);
    box-shadow: 0px 0px 11px 1px var(--box-shadow-color1);
}
/* About me side */
.side1 {
    background-color: var(--background-color1);
    height: 100vh;
    width: 25vw;
    border-right: 0.1px solid var(--border-color2);
}

aside {
    border: 2px solid transparent;
    height: 40%;
    background-color: var(--background-color1);
}
.about-me {
    margin: 30px auto auto 25px;
}
.about-me h2 {
    margin-left: 20px;
    font-family: sans-serif;
}

/* Profile picture */
.profile-picture {
    width: 200px;
    height: 200px;
    padding-bottom: 10px;
}
.profile-picture img {
    max-width: 100%;
    height: auto;
    margin-left: 3px;
    object-fit: cover;
    border-radius: 50%;
}
.socials-list {
    list-style-type: none;
    display: flex;
    column-gap: 15px;
    margin-left: 5px;
    margin-top: -5px;
}
.socials-list li {
    text-decoration: none;
}
li > a {
    text-decoration: none;
    color: inherit;
}
.socials p:first-of-type {
    margin-left: 20px;
    margin-top: 8px;
    font-family: monospace;
}
.socials p:last-of-type {
    margin-left: 27px;
    margin-top: 10px;
    font-family: monospace;
}

/* Projects and interests side */
/* Projects */

.side2 {
    background-color: var(--background-color2);
    height: 100vh;
    width: 55vw;
    border-left: 0.1px solid var(--border-color2);
}
.about-me-details {
    width: 80%;
    margin: auto;
}
.about-me-details h2, 
.interests h2 {
    font-family: sans-serif;
}
.projects {
    height: 60vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
}
.projects .project-details {
    border: 0.2px solid var(--border-color2);
    background-color: var(--background-color3);
}
.project-details > p, .project-details > h5 {
    text-align: left;
    
}
.project-details > h5 {
    margin-top: -1px;
    font-size: 1rem;
    font-family: sans-serif;
    color: var(--font-color1);
    padding-top: 15px;
    padding-left: 10px;
}
.project-details > p {
    margin-top: -15px;
    font-size: 0.9rem;
    font-family: monospace;
    padding-left: 10px;
}

/* Interests*/
.interests-details > ul {
    width: 100%;
    display: flex;
    overflow-x: auto;
}
.interests-details > ul > li {
    margin: 10px;
}
.interests-details img {
    height: 100px;
    width: 100px;
}
.interests-details ul {
    list-style-type: none;
}
.interests-icon:nth-of-type(1),
.interests-icon:nth-of-type(2),
.interests-icon:nth-of-type(3),
.interests-icon:nth-of-type(4),
.interests-icon:nth-of-type(5),
.interests-icon:nth-of-type(6),
.interests-icon:nth-of-type(7) {
    padding-right: 50px;
}

